<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Map</title>
  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>

  <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/css/main.css">
  <script src="https://js.arcgis.com/4.13/"></script>

  <script>
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/Graphic",
      "esri/layers/GraphicsLayer",
      "esri/widgets/Locate",
      "esri/widgets/Track",
      "esri/widgets/Fullscreen",
    ], function (Map, MapView, Graphic, GraphicsLayer, Locate, Track, Fullscreen) {

      var map = new Map({
        basemap: "streets-navigation-vector"
      });

      var view = new MapView({
        container: "viewDiv",
        map: map,
        center: [-83.149274, 42.606344],
        zoom: 11
      });

      // add routes from the data var that's passed from the shortcode md file
      var graphicsLayer = new GraphicsLayer();
      map.add(graphicsLayer);
      var simpleLineSymbol = {
        type: "simple-line",
        color: "#7893F4",
        width: 2
      };
      let data = "{{ .Get `data`}}"
      var d = null;
      if (getUrlVars().data) {
        d = decodeURIComponent(getUrlVars().data)
      } else {
        d = data.split(", ")
      }
      function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
          vars[key] = value;
        });
        return vars;
      }
      function listToMatrix(list, elementsPerSubArray) {
        var matrix = [], i, k;

        for (i = 0, k = -1; i < list.length; i++) {
          if (i % elementsPerSubArray === 0) {
            k++;
            matrix[k] = [];
          }

          matrix[k].push(list[i]);
        }

        return matrix;
      }
      var polyline = {
        type: "polyline",
        paths: listToMatrix(d, 2)
      };
      var polylineGraphic = new Graphic({
        geometry: polyline,
        symbol: simpleLineSymbol
      })
      graphicsLayer.add(polylineGraphic);

      // add THS marker to map
      var pictureGraphic = new Graphic({
        geometry: {
          type: "point",
          longitude: -83.178806,
          latitude: 42.587215
        },
        symbol: {
          type: "picture-marker",
          url: "https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_1/v1539889100/troyk12mius/ow4n9mirgwdplx8lgv4c/troyhigh-logo.png",
          width: "35px",
          height: "35px"
        }
      });
      graphicsLayer.add(pictureGraphic);

      //fullscreen button
      fullscreen = new Fullscreen({
        view: view
      });
      view.ui.add(fullscreen, "top-left");

      // Tracker
      var track = new Track({
        view: view,
        graphic: new Graphic({
          symbol: {
            type: "simple-marker",
            size: "12.5px",
            color: "#0178DC",
            outline: {
              color: "#3494E1",
              width: "1.5px"
            }
          }
        }),
        useHeadingEnabled: false  // Don't change orientation of the map
      });

      view.ui.add(track, "top-left");

    });
  </script>
</head>

<body>
  <div id="viewDiv"></div>
</body>

</html>